<% if @product.taxons.present? %>
  <h3 class="product-section-title"><%= Spree.t(:look_for_similar_items) %></h3>
  <div class="list-group" id="similar_items_by_taxon" data-hook>
    <% @product.taxons.each do |taxon| %>
      <p class="list-group-item"><%= link_to taxon.name, seo_url(taxon) %></p>
    <% end %>
  </div>
<% end %>