<div class="alquiler">
  <div class="asesoria-img">
  	<h1 class="text-center" style="margin: 20px; font-weight: 900; color: #0038a7; position: relative; top: 50%;
    transform: translateY(-50%); background: rgba(255, 255, 255, 0.6);
    width: 50%; margin: 0 auto; padding: 13px; border-radius: 7px;">Asesoría por fisioterapeuta</h1>
  </div>
  <br>
  <br>
  

  <div class="container-fluid" style="padding: 0px 90px;">
    <h4>Contamos con Fisioterapeuta, con experiencia para la valoración y correcto posicionamiento de usuarios en sillas de ruedas, asesoría para una mejor elección de silla de ruedas sobre medida y cotización. Capacitaciones y charlas educativas a profesionales del área de la salud en diferentes temas sobre quipos de movilidad y posicionamiento.</h4>
  </div>
</div>
<br>