<div class="main">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="page-header text-center">
                  <h1>Contactenos</h1>
                  <p>Sedes principales</p>
              </div><!-- End .page-header -->

              <div class="mb20"></div><!-- margin -->

            

              <div class="mb35 mb20-sm mb10-xs"></div><!-- margin -->

              <div class="title-group text-center">
                  <h2 class="title">Enviar Un Mensaje</h2>
                  <p class="title-desc">Escribenos cualquier inquietud</p>
              </div><!-- End .title-group -->

              <form action="#" class="contact-form">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label>Nombre *</label>
                              <input type="text" class="form-control" required>
                          </div><!-- End .form-group -->

                          <div class="form-group">
                              <label>Correo o telefono*</label>
                              <input type="email" class="form-control" required>
                          </div><!-- End .form-group -->
                      </div><!-- End .col-sm-6 -->

                      <div class="col-sm-6">
                          <div class="form-group">
                              <label>Mensaje*</label>
                              <textarea cols="30" rows="6" class="form-control" required></textarea>
                          </div><!-- End .form-group -->
                      </div><!-- End .col-sm-6 -->
                  </div><!-- End .row -->

                  <div class="clearfix text-right">
                      <input type="submit" class="btn btn-accent min-width" value="Send Message">
                  </div><!-- End .clearfix -->
              </form>

              <div class="title-group text-center">
                  <h2 class="title">Sede Principal</h2>
                  <p class="title-desc">Geolocalizacion </p>
              </div><!-- End .title-group -->

          
              <div class="modal-body">
              <div id="map">
                <iframe width="100%" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlbJ_XRVze2LtvaIBXH8Libsn6c6PWU1Q
                  &q=Sumel+Medellin" allowfullscreen>
              </iframe>
              </div>
            </div>
          </div><!-- End .col-md-9 -->

          
      </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .main -->