<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="page-header text-center">
              <h1>Quienes somos</h1>
          </div><!-- End .page-header -->

          <div class="mb20"></div><!-- margin -->

          <div class="title-group text-center">
            <h3 class="title-desc">SUMEL SAS, es una empresa familiar Antioqueña fundada en octubre de 1983, que nació con el objetivo de mejorar la calidad de vida de las personas que están en condiciones de discapacidad, en procesos de recuperación y que requieren asistencia de ayudas médicas en casa y en hospitales.  Brindándole a nuestros clientes las modalidades de Venta y Alquiler de equipos médicos hospitalarios, equipos para hospitalización en casa – oxigeno medicinal, servicio de Mantenimiento Biomédico y todo lo relacionado con Medicina Integrativa y Biológica . 
            <br>
            Contamos con un excelente equipo de trabajo capacitado técnicamente para proveer un servicio integral a nuestros clientes, desde la asesoría, venta, alquiler, mantenimiento de equipos y puntualidad en las entregas a domicilio. Sumel cuenta con la certificación del INVIMA para la prestación de estos servicios.</</h3>
          </div><!-- End .title-group -->
        </div>
      </div><!-- End .col-md-9 -->  
    </div><!-- End .row -->

    <div class="container">
      <div class="col-md-12">
        <div class="page-header text-center" style="  margin-top: 5px; padding-top: 5px;">
            <h1>Visión</h1>
        </div><!-- End .page-header -->

          <div class="mb20"></div><!-- margin -->

          <div class="title-group text-center">
            <h3 class="title-desc">Ser la mejor alternativa a nivel nacional, con participación en el mercado latinoamericano, para adquirir equipos y dispositivos médicos, que mejoren la calidad de vida de los pacientes, generando relaciones de valor con los clientes y prestando el mejor servicio a través de procesos de calidad certificados, con alta rentabilidad económica.
            <br>
            </h3>
          </div><!-- End .title-group -->
        </div>
      </div><!-- End .col-md-9 -->  
    </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .main -->
<br>
<br>
