<div>
	<div class="logistica-img"></div>
	<h1 class="text-center" style="margin: 20px; font-weight: 900; color: #0038a7;">Logistica</h1>

	<div class="container-fluid" style="padding: 0px 90px;">
		<h4 style=" font-weight: 200">Contamos con flota logística propia y personal altamente calificado para dar respuesta ágil, oportuna y confiable a sus necesidades de adquisición, alquiler y mantenimiento de equipos y dispositivos médicos con un alto sentido humano. Damos cubrimiento en toda el Área Metropolitana del Valle de Aburrá y Eje Cafetero.</h4>
		<br>
	  <section>
      <h1 class="text-center">Nuestras Sedes</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="col-md-1 col-md-offset-3">
            <i class="fa fa-mobile" aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
          </div>
          <div class="col-md-6" style="padding-left: 15px;  padding-top: 8px;">
            <h4 id="myModalLabel" style="font-weight: 200;"> (4) 444-01-88 </h6>
          </div>

          <div class="col-md-1 col-md-offset-3">
            <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 20px; padding-top: 16px; color: green"></i>
          </div>
          <div class="col-md-7" style="padding-left: 15px;  padding-top: 8px;">
            <h4 id="myModalLabel" style="font-weight: 200;">(+57) 311 635 4037</h6>
          </div>

          <div class="col-md-1 col-md-offset-3">
            <i class="fa fa-map-marker " aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
          </div>
          <div class="col-md-7 text-left" style="padding-left: 15px; padding-top: 8px;">
            <h4 id="myModalLabel" style="font-weight: 200;">Calle 30 N° 41-09 Itagüí, Antioquia. </h6>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-1">
            <i class="fa fa-mobile" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
          </div>
          <div class="col-md-10" style="padding-left: 15px;  padding-top: 8px;">
            <h4 id="myModalLabel" style="font-weight: 200;"> (4) 444 01 88</h4>
          </div>

          <div class="col-md-1">
            <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 20px; padding-top: 16px; color: green"></i>
          </div>

          <div class="col-md-10" style="padding-left: 15px;  padding-top: 8px;">
            <h4 id="myModalLabel" style="font-weight: 200;"> (+57) 316 523 4269</h4>
          </div>

          <div class="col-md-1">
            <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
          </div>
          <div class="col-md-10 text-left" style="padding-left: 15px; padding-top: 8px;">
            <h4 id="myModalLabel" style="font-weight: 200;"> Carrera 48 N° 7-380 Mall Comercial Vegas 10 , Poblado, Medellín  </h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-1">
            <i class="fa fa-mobile" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
          </div>
          <div class="col-md-10" style="padding-left: 15px;  padding-top: 8px;">
            <h4 id="myModalLabel" style="font-weight: 200;"> (6) 746 3334</h4>
          </div>

          <div class="col-md-1">
            <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 20px; padding-top: 16px; color: green"></i>
          </div>

          <div class="col-md-10" style="padding-left: 15px;  padding-top: 8px;">
            <h4 id="myModalLabel" style="font-weight: 200;"> (+57) 316 523 4269</h4>
          </div>

          <div class="col-md-1">
            <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
          </div>
          <div class="col-md-10 text-left" style="padding-left: 15px; padding-top: 8px;">
            <h4 id="myModalLabel" style="font-weight: 200;"> Crr. 12 1a norte 20
              Barrio el Alcázar, edificio Centro Médico
              y empresarial Uninorte local 105  </h4>
          </div>
        </div>
      </div>
    </section>
	</div>
</div>
<br>
<br>