<div class="alquiler">
  <div class="mantenimiento-img"></div>
  <h1 class="text-center" style="margin: 20px; font-weight: 900; color: #0038a7;">Mantenimiento</h1>

  <div class="container-fluid" style="padding: 0px 90px;">
    <h4>Contamos con un departamento técnico capacitado con tecnólogos biomédicos e Ingeniería biomédica, realizamos diagnóstico, mantenimiento preventivo, mantenimiento correctivo a equipos de movilidad, equipos de oxígeno, equipos de ozonoterapia y diagnostico; además, contamos con repuestos originales.</h4>
  </div>
</div>
<br>
<br>
<br>