<div class="alquiler">
  <div class="mantenimiento-img">
  	<h1 class="text-center" style="margin: 20px; font-weight: 900; color: #0038a7; position: relative; top: 50%;
    transform: translateY(-50%); background: rgba(255, 255, 255, 0.6);
    width: 50%; margin: 0 auto; padding: 13px; border-radius: 7px;">Mantenimiento</h1>
  </div>
  
  <br>
  <br>
  <div class="container-fluid" style="padding: 0px 90px;">
    <h4>Contamos con un departamento técnico capacitado con tecnólogos biomédicos e Ingeniería biomédica, realizamos diagnóstico, mantenimiento preventivo, mantenimiento correctivo a equipos de movilidad, equipos de oxígeno, equipos de ozonoterapia y diagnostico; además, contamos con repuestos originales.</h4>
  </div>
</div>
<br>
<br>
<br>