<!-- services -->
<section class="serv whitepage">
  <div class="container">
    <div class="container-fluid own-cont">
      <div class="row">
        <!-- <div id="serv1" class="col-md-12"> -->
        <div class="col-md-6 own-cont">
          <img alt="imgservices" class="img-responsive" src="/PAGINA HOME/Foto Logistica.jpg" style="height: auto !important">
        </div>
        <div class="col-md-6 own-cont">
          <blockquote class="block" id="alquiler">
            <div class="text-center center-div">
              <h1 style="color: #0038a7">Logística Sumel</h1>
              <a href="/logistica" class='contact-sumel'>Ver más </a>
            </div>   
          </blockquote>
        </div>
      </div>
    </div>  
    <div class="row par">
      <div class="col-md-6 own-cont" id="mantenimiento">
        <blockquote>
          <div class="text-center center-div">
            <h1 style="color: #0038a7">Alquiler Sumel</h1>
            <a href="/alquiler" class='contact-sumel'>Ver más </a>
          </div>
        </blockquote>
      </div>
      <div class="col-md-6 own-cont" >
        <blockquote style="background-image: url('/assets/ALQUILERs.jpg'); color:white!important; background-size: 100% 100%; background-repeat: no-repeat;" >
        </blockquote>
      </div>
    </div>
    <div class="container-fluid own-cont">
      <div class="row">
        <!-- <div id="serv1" class="col-md-12"> -->
        <div class="col-md-6 own-cont">
          <img alt="imgservices" class="img-responsive" src="/DEPARTAMENTO TECNICO SUMEL.jpg" style="height: auto !important">
        </div>
        <div class="col-md-6 own-cont">
          <blockquote class="block" id="alquiler">
            <div class="text-center center-div">
              <h1 style="color: #0038a7">Mantenimiento</h1>
              <a href="/mantenimiento" class='contact-sumel'>Ver más </a>
            </div>
          </blockquote>
        </div>
      </div>
    </div>  
    <div class="container-fluid own-cont">
      <div class="row">      
        <div class="col-md-6 own-cont">
          <blockquote class="block" id="alquiler">
            <div class="text-center center-div">
              <h1 style="color: #0038a7">Asesoría por fisioterapeuta</h1>
              <a href="/asesoria" class='contact-sumel'>Ver más </a>
            </div>
          </blockquote>
        </div>
        <div class="col-md-6 own-cont">
          <img alt="imgservices" class="img-responsive" src="/EVALUACION FISIOTERAPIA 2.jpg" style="height: auto !important">
        </div>
      </div>
    </div>  
  </div> 
</section>
