<!-- services -->
<section class="serv whitepage">
  <div class="container-fluid own-cont">

    <div class="row">
      <!-- <div id="serv1" class="col-md-12"> -->
      <div class="col-md-6 own-cont">
        <img alt="imgservices" class="img-responsive" src="/assets/prueba3.jpg">
      </div>
      <div class="col-md-6 own-cont">
        <blockquote class="block">
          <h5>Lorem ipsum dolor sit amet</h5>

          <h1>ALQUILER</h1>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <button type="button" class="btn btn-default own-btn">Seguir leyendo</button>

        </blockquote>
      </div>
    </div>

    <div class="row par">
      <!-- <div id="serv1" class="col-md-12"> -->
      <div class="col-md-6 own-cont">
        <blockquote>
          <h5>Lorem ipsum dolor sit amet</h5>

          <h1>MANTENIMIENTO</h1>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <button type="button" class="btn btn-default own-btn">Seguir leyendo</button>

        </blockquote>
      </div>
      <div class="col-md-6 own-cont">
        <img alt="imgservices" class="img-responsive" src="/assets/prueba3.jpg">
      </div>
    </div>

    <div class="row par">
      <!-- <div id="serv1" class="col-md-12"> -->
      <div class="col-md-6 own-cont">
        <img alt="imgservices" class="img-responsive" src="/assets/prueba3.jpg">
      </div>
      <div class="col-md-6 own-cont">
        <blockquote>
          <h5>Lorem ipsum dolor sit amet</h5>

          <h1>ASESORIA</h1>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <button type="button" class="btn btn-default own-btn">Seguir leyendo</button>

        </blockquote>
      </div>
    </div>

    <div class="row par">
      <!-- <div id="serv1" class="col-md-12"> -->
      <div class="col-md-6 own-cont">
        <blockquote>
          <h5>Lorem ipsum dolor sit amet</h5>

          <h1>DOMICILIOS</h1>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <button type="button" class="btn btn-default own-btn">Seguir leyendo</button>

        </blockquote>
      </div>
      <div class="col-md-6 own-cont">
        <img alt="imgservices" class="img-responsive" src="/assets/prueba3.jpg">
      </div>
    </div>
  </div>
</section>
