<!-- services -->
<section class="serv whitepage">
  <div class="container">

      <div class="container-fluid own-cont">
        <div class="row">
          <!-- <div id="serv1" class="col-md-12"> -->
          <div class="col-md-6 own-cont">
            <img alt="imgservices" class="img-responsive" src="/assets/images/LOGISTICA.jpg">
          </div>
          <div class="col-md-6 own-cont">
            <blockquote class="block" id="alquiler">
                <h1>Logística</h1>
                <p style="padding: 0px 30px;">Contamos con flota logística propia y personal altamente calificado para dar respuesta ágil, oportuna y confiable a sus necesidades de adquisición, alquiler y mantenimiento de equipos y dispositivos médicos con un alto sentido humano. Damos cubrimiento en toda el Área Metropolitana del Valle de Aburrá y Eje Cafetero.</p>

                <div class="row" style="padding: 0px 30px;">
                  <div class="col-md-1">
                    <i class="fa fa-mobile" aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
                  </div>
                  <div class="col-md-7" style="padding-left: 0;  padding-top: 8px;">
                    <h6 id="myModalLabel" style="font-weight: 200;"> (4) 444-01-88 Opción 2</h4>
                  </div>
                </div>
                <div class="row" style="padding: 0px 30px;">
                  <div class="col-md-1">
                    <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
                  </div>
                  <div class="col-md-7" style="padding-left: 0;  padding-top: 8px;">
                    <h6 id="myModalLabel" style="font-weight: 200;"> (+57) 311 635 4037</h6>
                  </div>
                </div>
                <div class="row" style="padding: 0px 30px;">
                  <div class="col-md-1">
                    <i class="fa fa-map-marker " aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
                  </div>
                  <div class="col-md-7 text-left" style="padding-left: 0; padding-top: 8px;">
                    <h6 id="myModalLabel" style="font-weight: 200;">Calle 30 N° 41-09 Itagüí, Antioquia.  </h6>
                  </div>
                </div>
              
            </blockquote>
          </div>
        </div>
      </div>  

      <div class="row par">
        <div class="col-md-6 own-cont" id="mantenimiento">
          <blockquote>
            <h1>Alquiler</h1>
            <p style="padding: 0px 30px;">Contamos con equipos para hospitalización en casa, ayudas para la marcha, ayudas para la movilidad y equipos de oxigenoterapia de la mejor calidad.
              
            </p>
            <div class="row" style="padding: 0px 30px;">
              <div class="col-md-1">
                <i class="fa fa-mobile" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
              </div>
              <div class="col-md-7" style="padding-left: 0;  padding-top: 8px;">
                <h6 id="myModalLabel" style="font-weight: 200;"> (4) 444 01 88</h6>
              </div>
            </div>
            <div class="row" style="padding: 0px 30px;">
              <div class="col-md-1">
                <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
              </div>
              <div class="col-md-7" style="padding-left: 0;  padding-top: 8px;">
                <h6 id="myModalLabel" style="font-weight: 200;"> (+57) 316 523 4269</h6>
              </div>
            </div>
            <div class="row" style="padding: 0px 30px;">
              <div class="col-md-1">
                <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
              </div>
              <div class="col-md-7 text-left" style="padding-left: 0; padding-top: 8px;">
                <h6 id="myModalLabel" style="font-weight: 200;"> Carrera 48 N° 7-380 Mall Comercial Vegas 10 , Poblado, Medellín  </h6>
              </div>
            </div>
            <div class="row" style="padding: 0px 30px;">
              <div class="col-md-1">
                <i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
              </div>
              <div class="col-md-7 text-left" style="padding-left: 0; padding-top: 8px;">
                <h6 id="myModalLabel" style="font-weight: 200;"> sumelpoblado@sumel.net </h6>
              </div>
            </div>
          </blockquote>
        </div>
        <div class="col-md-6 own-cont" >
          <blockquote style="background-image: url('/assets/images/showroom.jpg'); color:white!important;" >
            <div class="row" style="background:rgba(0,0,0,0.5); margin-top:80px!important;padding:15px;">
              <h4 style="">Para alquiler contamos con:</h4>
                <div class="col-md-6" >
                  <ul>
                    <li>Cama hospitalaria eléctrica</li>
                    <li>Cama full eléctrica</li>
                    <li>Grúa eleva pacientes</li>
                    <li>Carros porta cilindro</li>
                    <li>Reguladores de oxigeno</li>
                    <li>Cilindros de oxigeno</li>
                    <li>Nebulizador</li>
                    <li>Caminador paso a paso</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Silla de ruedas de acompañante</li>
                    <li>Silla de ruedas con eleva pies</li>
                    <li>Silla de ruedas reclinable ortopédica</li>
                    <li>Muletas</li>
                    <li>Caminador con ruedas</li>
                    <li>Rollator </li>
                    <li>Concentrador de oxigeno Purittan</li>
                  </ul>
                </div>
            </div>
          </blockquote>
        </div>
      </div>




      <div class="container-fluid own-cont">
        <div class="row">
          <!-- <div id="serv1" class="col-md-12"> -->
          <div class="col-md-6 own-cont">
            <img alt="imgservices" class="img-responsive" src="/assets/images/MANTENIMIENTO1.png">
          </div>
          <div class="col-md-6 own-cont">
            <blockquote class="block" id="alquiler">
                <h1>Mantenimiento</h1>
                <p style="padding: 0px 30px;">Contamos con un departamento técnico capacitado con tecnólogos biomédicos e Ingeniería biomédica, realizamos diagnóstico, mantenimiento preventivo, mantenimiento correctivo a equipos de movilidad, equipos de oxígeno, equipos de ozonoterapia y diagnostico; además, contamos con repuestos originales.</p>

                <div class="row" style="padding: 0px 30px;">
                  <div class="col-md-1">
                    <i class="fa fa-mobile" aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
                  </div>
                  <div class="col-md-7" style="padding-left: 0;  padding-top: 8px;">
                    <h6 id="myModalLabel" style="font-weight: 200;"> (4) 444-01-88 Opción 2 Extensión 106</h4>
                  </div>
                </div>
                <div class="row" style="padding: 0px 30px;">
                  <div class="col-md-1">
                    <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
                  </div>
                  <div class="col-md-7" style="padding-left: 0;  padding-top: 8px;">
                    <h6 id="myModalLabel" style="font-weight: 200;"> (+57) 311 635 4037</h6>
                  </div>
                </div>
                <div class="row" style="padding: 0px 30px;">
                  <div class="col-md-1">
                    <i class="fa fa-map-marker " aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
                  </div>
                  <div class="col-md-7 text-left" style="padding-left: 0; padding-top: 8px;">
                    <h6 id="myModalLabel" style="font-weight: 200;">Calle 30 N° 41-09 Itagüí, Antioquia.  </h6>
                  </div>
                </div>

                <div class="row" style="padding: 0px 30px;">
                  <div class="col-md-1">
                    <i class="fa fa-envelope-o " aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
                  </div>
                  <div class="col-md-7 text-left" style="padding-left: 0; padding-top: 8px;">
                    <h6 id="myModalLabel" style="font-weight: 200;">mantenimiento@sumel.net</h6>
                  </div>
                </div>
              
            </blockquote>
          </div>
        </div>
      </div>  

      <div class="row par">
        <div class="col-md-6 own-cont" id="mantenimiento">
          <blockquote>
            <h1>Asesoría por fisioterapeuta</h1>
            <p style="padding: 0px 30px;">Contamos con Fisioterapeuta, con experiencia para la valoración y correcto posicionamiento de usuarios en sillas de ruedas, asesoría para una mejor elección de silla de ruedas sobre medida y cotización. Capacitaciones y charlas educativas a profesionales del área de la salud en diferentes temas sobre quipos de movilidad y posicionamiento.
              
            </p>
            <div class="row" style="padding: 0px 30px;">
              <div class="col-md-1">
                <i class="fa fa-mobile" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
              </div>
              <div class="col-md-7" style="padding-left: 0;  padding-top: 8px;">
                <h6 id="myModalLabel" style="font-weight: 200;"> (4) 444 01 88 opción 2 Extensión 112</h6>
              </div>
            </div>
            <div class="row" style="padding: 0px 30px;">
              <div class="col-md-1">
                <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
              </div>
              <div class="col-md-7" style="padding-left: 0;  padding-top: 8px;">
                <h6 id="myModalLabel" style="font-weight: 200;"> (+57) 318 351 7237</h6>
              </div>
            </div>
            <div class="row" style="padding: 0px 30px;">
              <div class="col-md-1">
                <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
              </div>
              <div class="col-md-7 text-left" style="padding-left: 0; padding-top: 8px;">
                <h6 id="myModalLabel" style="font-weight: 200;">  Calle 30 N° 41-09 Itagüí, Antioquia.  </h6>
              </div>
            </div>
            <div class="row" style="padding: 0px 30px;">
              <div class="col-md-1">
                <i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 20px; padding-top: 16px;"></i>
              </div>
              <div class="col-md-7 text-left" style="padding-left: 0; padding-top: 8px;">
                <h6 id="myModalLabel" style="font-weight: 200;"> llasso@sumel.net </h6>
              </div>
            </div>
          </blockquote>
        </div>
        <div class="col-md-6 own-cont" >
          <blockquote style="background-image: url('/assets/images/physiotherapist.jpg'); color:white!important;" >
            
          </blockquote>
        </div>
      </div>



      
      
  </div> 
</section>
