<section class="services">
  <div class="services-title">
    <h1>SERVICIOS</h1>
  </div>
</section>
<div class="what-need">
  <h4 class="text-center">¿Qué servicios necesitas?</h4>
  <br>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="service-photo"></div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-8 mantenimiento-grey">
          <h4>MANTENIMIENTO</h4>
        </div>
        <div class="col-md-4 mantenimiento-blue">
          <h4>VER MÁS</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="service-photo"></div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6 mantenimiento-grey">
          <h4>VENTA Y ALQUILER</h4>
        </div>
        <div class="col-md-3 mantenimiento-blue">
          <h4>VER MÁS</h4>
        </div>
      </div>
    </div>

  </div>
</div>
<br>
<br>
<br>