<section class="services">
  <div class="services-title">
    <h1>SERVICIOS</h1>
  </div>
</section>
<div class="what-need">
  <h4 class="text-center">¿Qué servicios necesitas?</h4>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="service-photo"></div>
      <br>
      <br>
      <div>
        <div class="mantenimiento"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="service-photo"></div>
    </div>
  </div>
</div>