<section>
  <div class="container text-center ">
    <h1 class="bgTerms">AVISO DE PRIVACIDAD </h1>
    <div class="termPs">
      <p>
      	<b>Hospihogar y Suministros Médicos Especializados S.A.S "SUMEL S.A.S"</b>, identificada con Nit. 890933863-2, responsable del tratamiento de Datos personales, (en adelante, "LA COMPAÑIA", en cumplimiento de lo previsto por la Ley 1581 de 2012, sus decretos reglamentarios y demás normas concordantes, le informa que los datos personales que usted suministre en virtud de las actividades u operaciones celebradas con LA COMPAÑIA, serán tratados de acuerdo a su política de Protección de Datos Personales y mediante el uso y mantenimiento de medidas de seguridad técnicas, físicas y administrativas a fin de impedir que terceros no autorizados accedan a los mismos.

      	<br>
      	<br>
      	<b>1. Responsable del Tratamiento.</b>
      	<br>
      	<br>
      	<b>Hospihogar y Suministros Médicos Especializados S.A.S "SUMEL S.A.S"</b>, sociedad con domicilio principal en la calle 30 N 41-09 Itagüi - Antioquia.
      	<br>
      	<br> 
      	Para mayor información podrá contactarnos:
      	<br>
      	<br>
    	</p>
   <!--  <div class="text-center">
    	<button class="btn send-message open-text" style="color: white">
	      <span>
	        <span class="first text-uppercase">See more</span>
	        <span class="second text-uppercase">See more</span>
	      </span>
	    </button>
    </div> -->
  </div> 
</section>

<script>
	jQuery(document).ready(function($) {
		$('.more-text').hide();
		$('.open-text').click(function(event) {
			event.preventDefault();
			$('.more-text').toggle();
		});
	});
</script>
