/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require social-share-button
 *= require header
 *= require_tree .
 */
 @import "social-share-button";

   /*HOVER UNDERLINE NAVBAR*/

  .acerca-nav li a{
    text-decoration: none !important;
    position: relative !important;
  }

  .acerca-nav li a:after{
    content: '';
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 0%;
    border-bottom: 2px solid #3366FF;
    transition: 0.4s;
  }

  .acerca-nav li a:hover:after{
    width: 75% !important;
  }

  /*-----------------*/

  // Subscription bar
   .subscription-bar{
    height: 70px;
  }

  .subscription-bar h3{
    color: white;
  }

  .left{
    padding-top: 25px !important;
    padding-left: 50px !important;
  }

  .right{
    padding-top: 15px;
    padding-right: 70px;
    font-size: 22px;
  }

  a:hover, a:focus, .btn:hover{
    text-decoration: none !important;
  }
