/*Radar effect*/
   html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cd-single-point {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .cd-single-point::after {
    /* this is used to create the pulse animation */
    content:'';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-color: transparent;
    -webkit-animation: cd-pulse 2s infinite;
    -moz-animation: cd-pulse 2s infinite;
    animation: cd-pulse 2s infinite;
  }

  @-webkit-keyframes cd-pulse {
    0% {
      -webkit-transform: scale(1);
      box-shadow: inset 0 0 5px 5px rgba(217, 83, 83, 0.8);
    }
    50% {
      box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
    }
    100% {
      -webkit-transform: scale(1.6);
      box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
    }
  }
  @-moz-keyframes cd-pulse {
    0% {
      -moz-transform: scale(1);
      box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
    }
    50% {
      box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
    }
    100% {
      -moz-transform: scale(1.6);
      box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
    }
  }
  @keyframes cd-pulse {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      box-shadow: inset 0 0 1px 1px #0038a7;
    }
    50% {
      box-shadow: inset 0 0 1px 1px #0038a7;
    }
    100% {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
      box-shadow: inset 0 0 1px 1px #0038a7;
    }
  }
/*end*/

.login-first-section{
  background: url(/assets/images/login-photo.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 50vh;
  position: relative;
}

/*elipse*/
  .elipse-login{
    -webkit-clip-path: ellipse(55% 28% at 88% 82%);
    clip-path: ellipse(55% 28% at 88% 82%);
    background: white;
    position:absolute;
    bottom:0;
    right:0;
    height: 471px;
    width: 471px;
  }

  .logo-elipse{
    width: 274px;
    height: 70px;
    position: absolute;
    bottom: 60px;
    right: 0;
  }

  .row{
    margin: 0 !important;
  }
/*end*/

.margin-top-20{
  margin-top: 20px;
}
.logincontainer{
  background: url(images/bg.png);
  background-size:100% 100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
  height: 100vh;
}
.auth h1{
  color:#fff!important;
  font-weight:300;
  font-family: 'Open Sans', sans-serif;
}
.auth h1 span{
  font-size:21px;
  display:block;
  padding-top: 20px;
}

.auth-box{
  background: #cbccce;
  height: 470px;
}
.auth .auth-box legend{
  color:#fff;
  border:none;
  font-weight:300;
  font-size:24px;
}
.auth .auth-box{
  background-color:#fff;
  max-width:460px;
  margin:0 auto;
  background: #cbccce;
  margin-top:40px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}
@media(max-width:460px){
  .auth .auth-box{
   margin:0 10px;
 }
}

.auth .auth-box input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #fff;
  font-weight:300;
}
.auth span.input-group-addon,
.input-group-btn button{
  border:none;
  background: #fff!important;
  color:#000!important;
}
.auth form{
    font-weight:300!important;
}
.auth form input[type="text"],
.auth form input[type="password"],
.auth form input[type="email"],
.auth form input[type="search"]{
  border:none;
  padding:10px 0 10px 0;
  background-color: rgba(255, 255, 255, 0)!important;
  background: rgba(255, 255, 255, 0);
  color:#fff;
  font-size:16px;
  border-bottom:1px dotted #fff;
  border-radius:0;
  box-shadow:none!important;
  height:auto;
}
.auth textarea{
  background-color: rgba(255, 255, 255, 0)!important;
  color:#fff!important;
}
.auth input[type="file"] {
  color:#fff;
}
.auth form label{
    color:#fff;
    font-size:21px;
    font-weight:300;
}
/*for radios & checkbox labels*/
.auth .radio label,
.auth label.radio-inline,
.auth .checkbox label,
.auth label.checkbox-inline{
    font-size: 14px;
}

.auth form .help-block{
    color:#fff;
}
.auth form select{
  background-color: rgba(255, 255, 255, 0)!important;
  background: rgba(255, 255, 255, 0);
  color:#fff!important;
  border-bottom:1px solid #fff!important;
  border-radius:0;
  box-shadow:none;
}
.auth form select option{
    color:#000;
}
/*multiple select*/
.auth select[multiple] option,
.auth select[size] {
  color:#fff!important;
}

/*Form buttons*/
.auth form .btn{
  background:none;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.auth form .btn-default{
    color:#fff;
    border-color:#fff;
}
.auth form .btn-default:hover{
    background:rgba(225, 225, 225, 0.3);
  color:#fff;
  border-color:#fff;
}
.auth form .btn-primary:hover{
    background:rgba(66, 139, 202, 0.3);
}

.auth form .btn-success{
  border-color: rgba(240, 173, 78, 0.3);
}
.auth form .btn-success:hover{
    background:rgba(240, 173, 78, 0.3);
}
.auth form .btn-info :hover{
    background:rgba(240, 173, 78, 0.3);
}
.auth form .btn-warning:hover{
    background:rgba(240, 173, 78, 0.3);
}
.auth form .btn-danger:hover{
    background:rgba(217, 83, 79, 0.3);
}
.auth form .btn-link{
  border:none;
  color:#fff;
  padding-left:0;
}
.auth form .btn-link:hover{
  background:none;
}
.auth label.label-floatlabel {
  font-weight: 300;
  font-size: 11px;
  color:#fff;
  left:0!important;
  top: 1px!important;
}

/*Styles page*/
   .c-p{
    height: 295px;
  }

  .name-product{
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
  }

  .row-products{
    margin-left: 35px !important;
    margin-right: auto !important;
    margin-top: 70px !important;
    margin-bottom: 150px  !important;
  }

  .row-products img{
    width: 150px;
  }

  .contacto-btn{
    border-radius: 0;
    background: #d92e27;
    color: white;
    padding: 6px 17px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 700;
  }

  .saber-mas-bg{
    color: white;
    background: #e0514b;
    padding: 14px 96px;
    font-size: 12px;
  }

  .saber-mas-bg:hover{
    color: white;
    background: rgba(224, 81, 75, 0.7);
  }
/*end*/
/*responsive*/
/*Responsive*/

@media (max-width: 768px){
  .login-first-section{
    display: none;
  }

  .search-box{
    width: auto !important;
    height: 390px !important;
  }

  .products{
    width: auto;
  }

  .search-input{
    width: auto !important;
  }


  /*chevere-section*/
    .c-p{
      height: 920px !important;
    }
    .chevere h1 {
      text-align: center;
      margin-bottom: 0;
    }

    .exclamacion{
      display: none;
    }

    .content{
      text-align: center;
    }
  /*end*/
}
