.services .services-title{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.services .services-title h1{
  color: #1253a7;
  font-weight: 900;
}
.services{
  background: #d4d4d6;
  height: 280px;
}

/*What do you need*/
  .what-need h4{
    color: #494949;
    margin-top: 120px;
    font-weight: 300;
  }
/*end*/

.subscription-bar{
  height: 70px;
  background: #7f7f7f;
}

.service-photo{
  width: 488px;
  height: 416px;
  background: #d4d4d6;
}