.services .services-title{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.services .services-title h1{
  color: #1253a7;
  font-weight: 900;
}
.services{
  background: #d4d4d6;
  height: 280px;
}

/*What do you need*/
  .what-need .text-center{
    color: #494949;
    margin-top: 120px;
    font-weight: 300;
  }
/*end*/

.subscription-bar{
  height: 70px;
  background: #7f7f7f;
}

.service-photo{
  width: 488px;
  height: 416px;
  background: url(/assets/images/mantenimiento_sumel.jpg);
  background-size: 100% 100%;
}

.mantenimiento-grey{
  background: #d4d4d6;
  color: #0038a7;
  font-size: 400;
  text-align: center;
  padding: 10px 0;
}

.mantenimiento-blue{
  background: #0038a7;
  color: white;
  font-size: 400;
  width: 30.333333% !important;
  padding: 10px 0;
  text-align: center;
}