<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<nav id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
      <% if taxonomy.root.children.any? %>
        <div class="row">
          <div class="col-md-2 text-right">
            <h4 class='taxonomy-root'>Buscar Por Categorías</h4>
          </div>  
          <div class="col-md-10 inline">
            <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</nav>

<style>

  .inline{
    padding-top: 15px;
  }

  .inline .list-group .list-group-item{
    display: inline;
  }
</style>